@model Site
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a href="/"  role="/Index">Home</a>
        <a href="/EditSitePage"  role="/AddSitePage">Edit a Site</a>
        <a href="/AddSitePage"  role="/AddSitePage">Add a Site</a>
 
    </nav>





<div class="container">
    <h3>Site Edited Successfully</h3>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Site Name:    @ViewBag.SiteEdited.Site_Name</th>
            </tr>
            <tr>
                <th scope="row">Site 4 Digit: @ViewBag.SiteEdited.FourDigit_Number</th>
            </tr>
            <tr>
                <th scope="row">Site Number: @ViewBag.SiteEdited.Site_Number</th>
            </tr>
            <tr>
                <th scope="row">Site ENB#: @ViewBag.SiteEdited.Enb_Number</th>
            </tr>
            <tr>
                <th scope="row">Site ENB2#: @ViewBag.SiteEdited.Enb2_Number</th>
            </tr>
            <tr>
                <th scope="row">Tech Name:    @ViewBag.SiteEdited.Tech_Name</th>
            </tr>
            <tr>
                <th scope="row">Tech Phone: @ViewBag.SiteEdited.Tech_Phone</th>
            </tr>
            <tr>
                <th scope="row">Lattitude:    @ViewBag.SiteEdited.Lattitude</th>
            </tr>
            <tr>
                <th scope="row">Longitude: @ViewBag.SiteEdited.Longitude</th>
            </tr>

        </tbody>
    </table>

</div>